src/bin/Debug/net6.0/xsTable.deps.json
src/bin/Debug/net6.0/xsTable.dll
src/bin/Debug/net6.0/xsTable.pdb
src/bin/Debug/net6.0/ref/xsTable.dll
src/obj/project.assets.json
src/obj/project.nuget.cache
src/obj/XStable.csproj.nuget.dgspec.json
src/obj/xsTable.csproj.nuget.g.props
src/obj/xsTable.csproj.nuget.g.targets
src/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
src/obj/Debug/net6.0/xsTable.AssemblyInfo.cs
src/obj/Debug/net6.0/xsTable.AssemblyInfoInputs.cache
src/obj/Debug/net6.0/xsTable.assets.cache
src/obj/Debug/net6.0/xsTable.csproj.AssemblyReference.cache
src/obj/Debug/net6.0/xsTable.csproj.CoreCompileInputs.cache
src/obj/Debug/net6.0/xsTable.csproj.FileListAbsolute.txt
src/obj/Debug/net6.0/xsTable.dll
src/obj/Debug/net6.0/xsTable.GeneratedMSBuildEditorConfig.editorconfig
src/obj/Debug/net6.0/xsTable.GlobalUsings.g.cs
src/obj/Debug/net6.0/xsTable.pdb
src/obj/Debug/net6.0/ref/xsTable.dll
test/obj/project.assets.json
test/obj/project.nuget.cache
test/obj/test.csproj.nuget.dgspec.json
test/obj/test.csproj.nuget.g.props
test/obj/test.csproj.nuget.g.targets
test/obj/XStable.Test.csproj.nuget.dgspec.json
test/obj/XStable.Test.csproj.nuget.g.props
test/obj/XStable.Test.csproj.nuget.g.targets
test/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
test/obj/Debug/net6.0/XStable.Test.AssemblyInfo.cs
test/obj/Debug/net6.0/XStable.Test.AssemblyInfoInputs.cache
test/obj/Debug/net6.0/XStable.Test.assets.cache
test/obj/Debug/net6.0/XStable.Test.csproj.AssemblyReference.cache
test/obj/Debug/net6.0/XStable.Test.csproj.CopyComplete
test/obj/Debug/net6.0/XStable.Test.csproj.CoreCompileInputs.cache
test/obj/Debug/net6.0/XStable.Test.csproj.FileListAbsolute.txt
test/obj/Debug/net6.0/XStable.Test.dll
test/obj/Debug/net6.0/XStable.Test.GeneratedMSBuildEditorConfig.editorconfig
test/obj/Debug/net6.0/XStable.Test.genruntimeconfig.cache
test/obj/Debug/net6.0/XStable.Test.pdb
test/obj/Debug/net6.0/ref/XStable.Test.dll
test/bin/Debug/net6.0/CoverletSourceRootsMapping
test/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
test/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
test/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
test/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
test/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
test/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
test/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
test/bin/Debug/net6.0/Newtonsoft.Json.dll
test/bin/Debug/net6.0/NuGet.Frameworks.dll
test/bin/Debug/net6.0/testhost.dll
test/bin/Debug/net6.0/testhost.exe
test/bin/Debug/net6.0/XStable.dll
test/bin/Debug/net6.0/XStable.pdb
test/bin/Debug/net6.0/XStable.Test.deps.json
test/bin/Debug/net6.0/XStable.Test.dll
test/bin/Debug/net6.0/XStable.Test.pdb
test/bin/Debug/net6.0/XStable.Test.runtimeconfig.json
test/bin/Debug/net6.0/xunit.abstractions.dll
test/bin/Debug/net6.0/xunit.assert.dll
test/bin/Debug/net6.0/xunit.core.dll
test/bin/Debug/net6.0/xunit.execution.dotnet.dll
test/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
test/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
test/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/ref/XStable.Test.dll
test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
test/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
test/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
